@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Tilt+Warp&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-weight: 300;
    color: #3a3a3a;
    background-color: rgb(175, 179, 180);
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5% 0 5%;
}

h1, h2 {
    font-family: 'Tilt Warp', sans-serif;
    letter-spacing: 4px;
    color: #f8f2f2;
    text-shadow:  4px 4px 4px #3a3939;
}

p {
    font-family: 'Oswald', sans-serif;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation link*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Main image*/

#main_section {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main_img {
    height: 400px;
    width: 100%;
    background: url(../images/blue_sky.jpg) no-repeat center center;
    object-fit: scale-down;
    
}

/* Secend section */

#about_us {
    text-align: center;
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 15%;
}

#about_us h2 {
    padding: 30px 15px;
}

#about_us p {
    font-size: 100%;
    margin-bottom: 25px;
}

/* footer */

.social_network {
    text-align: center;
}

.social_network li {
    display: inline;
}

.social_network i {
    font-size: 300%;
    margin: 1%;
    padding: 5%;
}

/* gallery */

#photos {
    clear: both;
    height: 100%;
    width: 100%;
    aspect-ratio: 1.2;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

#photos > img {
    width: 100%;
    border: 5px solid black;
    border-radius: 15px;
    margin-top: 20px;
    max-height: 90vh;
    object-fit: cover;
}


/* contact us form */

#contact {
    clear:both;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border: 5px solid #252525;
    border-radius: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 145px;
}

form {
    display: block;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

input {
    padding: 8px;
    font-size: 0.9rem;
    width: 90%;
    box-sizing: border-box;
    border-radius: 5px;

}

#adress {
    text-align: center;
    margin-top: 40px;
}

#button {
    transition-duration: 0.4s;
    margin-top: 10px;
    font-size: 100%;
    border-radius: 5px;
    border: 2px solid black;
    height: 30px;
    width: 150px;
}

#button:hover {
    background-color: rgb(0, 110, 255);
    color:azure;
}


/* media queries*/

/* for medium to small screens size from 1020px wide and down */

@media screen and (max-width: 1020px) {
    #home {
        display: none;
    }
}
