@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Tilt+Warp&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-weight: 300;
    color: #3a3a3a;
    background-color: rgb(175, 179, 180);
}

h1, h2 {
    font-family: 'Tilt Warp', sans-serif;
    letter-spacing: 4px;
    color: #f8f2f2;
    text-shadow:  4px 4px 4px #3a3939;
}

p {
    font-family: 'Oswald', sans-serif;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation link*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Main image*/

#main_section {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main_img {
    height: 400px;
    width: 100%;
    background: url(../images/sharon-mathews-aOpNYdHhjRc-unsplash.jpg) no-repeat center center;
    object-fit: scale-down;
    
}

/* Secend section */

#aboutUs {
    text-align: center;
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 15%;
}

#aboutUs h2 {
    padding: 30px 15px;
}

#aboutUs p {
    font-size: 25px;
    margin-bottom: 25px;
}

/* footer */

.social_network {
    text-align: center;
}

.social_network li {
    display: inline;
}

.social_network i {
    font-size: 300%;
    margin: 1%;
    padding: 5%;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* contact us form */

#contact {
    clear:both;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border: 5px solid #252525;
    border-radius: 10px;
    margin: 50px 25% 50px 25%;
}

#adress {
    text-align: center;
}

#button {
    transition-duration: 0.4s;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 5px;
}

#button:hover {
    background-color: rgb(0, 110, 255);
    color:azure;
}



